#banner {
    position: relative;
    margin-top: 10vh;
    height: 40vw;
    border: 1px solid #f95F22;
}

#banner-image-container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#banner-image {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}